
body {
    padding: 20px 0px;
    color: #cccccc;
    background-color: #2c2c2c;
}

a:link {
    color: #dfdfdf;
}

a:visited {
    color: #aaaaaa;
}

a:hover {
    color: white;
}

.well {
    background-color: #3a3a3a;
    border: 1px solid #333;
}

hr {
    border-color: #444;
}

.logo {
    text-align: center;
    margin: 30px 0px;
}

.viewersTotal {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    height: 140px;
}

.viewersTwitch {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    height: 140px;
}

.viewersYoutube {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    height: 140px;
}

/* Proportion bar */

.proportion_bar_container {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.proportion_bar {
    border-radius: 5px;
    overflow: auto;
    color: #2c2c2c;
    font-weight: bold;
    font-size: 20px;
}

.bar_leftlogo {
    margin-right: 20px;
    float: left;
}

.bar_rightlogo {
    margin-left: 20px;
    float: right;
}

.bar_part {
    margin: 0px;
    padding: 3px 1px;
    width: 50%;
    vertical-align: middle;
}

.bar_leftpart { 
    float: left;
    background-color: #6441A4;
}

.bar_rightpart {
    float: right;
    background-color: #cd201f;
}


/* Charts */

.areaChart_container {
    height: 500px;
    clear: both;
}

.columnChart_container {
    height: 500px;
    clear: both;
}

